astroid==2.2.5
coverage==4.5.3
decorator==4.4.0
ipython==7.16.3
ipython-genutils==0.2.0
isort==4.3.20
jedi==0.13.3
jsbeautifier==1.10.0
lazy-object-proxy==1.4.1
manage.py==0.2.10
mccabe==0.6.1
numpy==1.16.3
pandas==0.24.2
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
Pygments==2.4.1
pylint==2.3.1
pymonetdb==1.1.1
PyMySQL==0.9.3
pytest==4.5.0
python-dateutil==2.8.0
pytz==2019.1
simplegeneric==0.8.1
six==1.12.0
SQLAlchemy==1.2.19
-e git://github.com/jvwinandy/sqlalchemy-monetdb.git@1.0.1#egg=sqlalchemy-monetdb
traitlets==4.3.2
wcwidth==0.1.7
wrapt==1.11.1
xlrd==1.2.0
XlsxWriter==1.1.8
